# Ignoring compiled code and runtime data generated in testing
/bin/
/data/
*.class

# Ignoring raw resource files
/raw/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
